<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/admin-layout :: admin_head}"></th:block>
    <title>SwimColor Admin</title>
</head>
<body>
<div th:replace="~{fragments/admin-layout :: admin_navbar}"></div>

<main class="admin-main">
    <section class="crawl-section">
        <h2>수동 크롤링 실행</h2>
        <p class="section-desc">수집할 페이지의 URL을 입력하고 해당 카테고리 버튼을 클릭하세요.</p>

        <div class="crawl-group">
            <div class="input-row">
                <input type="text" id="swimsuitUrl" placeholder="수영복 크롤링 URL을 입력하세요 (http://...)">
                <div class="btn-group">
                    <button class="btn-crawl swimsuit" id="btn-crawl-swimsuit" onclick="runSwimsuitCrawl()">수영복 크롤링</button>
                    <button class="btn-stop" id="btn-stop-swimsuit" onclick="stopCrawl('SWIMSUIT')" hidden="hidden">중지</button>
                </div>
            </div>

            <div class="input-row">
                <input type="text" id="swimcapUrl" placeholder="수모 크롤링 URL을 입력하세요 (http://...)">
                <div class="btn-group">
                    <button class="btn-crawl swimcap" id="btn-crawl-swimcap" onclick="runSwimcapCrawl()">수모 크롤링</button>
                    <button class="btn-stop" id="btn-stop-swimcap"  onclick="stopCrawl('SWIMCAP')" hidden>중지</button>
                </div>
            </div>
        </div>
    </section>
</main>
<div th:replace="~{fragments/admin-layout :: admin_scripts}"></div>
</body>
</html>